.container {
    text-align: center;
    margin-top: 100px;
    background-color: #c4a1a1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
  }
  
  #wheel {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 50%;
    background-color: lightgray;
  }
  
  #spinBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #result {
    font-size: 20px;
    font-weight: bold;
  }
  